@{
    ViewData["Title"] = "Contact Us";
}
<h1 class="mb-4">@ViewData["Title"]</h1>

<h3 class="mb-2">Help & Support</h3>
<hr />
<h5 class="mb-2">Available from Monday to Friday 8 AM - 5 PM</h5>
<h5 class="mb-2">Phone: (123) 456-7890</h5>
<h5 class="mb-2">Email: freda-ba@bottlewood.com</h5>
