@{
    ViewData["Title"] = "We value your feedback!";
}
<h1>@ViewData["Title"]</h1>

<form>
    <div class="form-group">
        <label for="feedbackTextarea">Tell us how we can improve</label>
        <textarea class="form-control" id="feedbackTextarea" rows="5" name="feedbackText" required></textarea>
    </div>
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal">
        Submit
    </button>
</form>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Feedback</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Submitted
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>