@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="mb-3">COLLECTION OF PERSONAL INFORMATION <br />

Personal Information is information about you that identifies you as an individual, for example, your name, address, e-mail address, or telephone number.

We collect information that you voluntarily provide to us.

</p>